<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="HistoricalQuoteClientLib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <HistoricalQuoteClientLib.Properties.Settings>
      <setting name="HistoricalQuoteClientLib_svcService_Service1"
        serializeAs="String">
        <value>http://gargoyle-mw20:2033/HistoricalQuoteService.svc</value>
      </setting>
    </HistoricalQuoteClientLib.Properties.Settings>
  </applicationSettings>

</configuration>